!!! 5
%html{lang: "en"}
  %head
    = partial "includes/layout/head"
  %body{class: "#{page_classes} #{'purple-bg' if current_page.data.purple_bg}", data: {spy: "scroll", target: ".qnav", offset: "90"}}
    .page-wrap
      = partial "includes/google/gtm"
      = partial "includes/layout/header"
      = partial "includes/layout/headline"

      .blank-header
        %img.image-border.image-border-left{ src: "/images/home/icons-pattern-left.svg", alt: "Gitlab hero border pattern left svg" }
        %img.image-border.image-border-right{ src: "/images/home/icons-pattern-right.svg", alt: "Gitlab hero border pattern right svg" }
        .header-content
          %h1
            DevOps Tools Landscape
          :markdown
            There are a lot of DevOps tools out there. As a single application for the entire DevOps life cycle, GitLab can remove the pain of having to choose, integrate, learn, and maintain the multitude of tools necessary for a successful DevOps tool chain. However, GitLab does not claim to contain all the functionality of all the tools listed here. Click on a DevOps tool to compare it to GitLab. If a tool is missing or incorrect then [create an issue](mailto:incoming+gitlab-com-marketing-product-marketing-7424125-issue-@incoming.gitlab.com?subject=DevOps%20tool%20request&amp;bcc=devopstools%40gitlab.com&amp;body=-%20Tool%20name%3A%0D%0A-%20Stages%3A%0D%0A-%20Change%3A%0D%0A%0D%0A%0D%0APlease%20leave%20these%20label%20flags.%20%20%20%20%0D%0A%2Flabel%20~comparison%20~Servicedesk) and we'll get it resolved."
          %a.btn.cta-btn.btn-red{ href: '/demo/' }
            Watch a GitLab demo

      .comparison-container.full-post
        .container.comparison-table
          .comparison-page-content.col-sm-12
            = yield

      .content-container.text-center{ style: "border-top: 1px solid #d7d7d7; color: #777" }
        .container
          %em
            GitLab is the trademark of GitLab, Inc. All other logos and trademarks are the logos and trademarks of their respective owners.

      .content-container.explore-gitlab-products.text-center
        .container
          %h2.color-primary
            Try
            %a{ href: "/pricing/#self-managed" }GitLab Ultimate
            risk-free for 30 days.
          %p.subheader-text
            No credit card required. Have questions?
            %a.contact-us{href: "/sales/"} Contact us.
          .action
            %a.btn.cta-btn.btn-red.margin-top20{ href: "/free-trial/" } Get Your Free Trial Today
      - if current_page.data.trial_bar
        = partial "includes/features/gitlab-ee-trial"

      .gitlab-content-container.padding-top0
        #disqus_thread
          :javascript
            var disqus_shortname = 'gitlab'; // required: replace example with your forum shortname
            //var disqus_developer = 1;
            var disqus_identifier = disqus_identifier ? disqus_identifier : '#{data.site.url}#{current_page.url}';
            var disqus_url = '#{data.site.url}#{current_page.url}';

            /* * * DON'T EDIT BELOW THIS LINE * * */
            (function() {
              var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
              dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
              (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();

      .footer-container
        = partial "includes/layout/footer"
