---
title: GitLab Commit 2019
description: "GitLab Commit 2019: GitLab’s premier user conference"
image_title: '/images/events/gitlab-commit/gitlab-commit-header.png'
layout: default
suppress_header: true
extra_css:
  - faq.css
  - event-commit.css
  - simplify-devops.css
extra_js:
  - libs/on-scroll.js
  - in-page-nav.js
  - all-clickable.js
  - simplify-devops.js
---
.gitlab-content-container.commit-content-container
  .content.commit-content
    .row
      .col-md-12.column-register.text-center{ style: "background-attachment: fixed; background: url('/images/events/gitlab-commit/gitlab-commit-london-logo-date-image_2x.jpg') center center no-repeat; background-size: cover" }
    .js-in-page-nav-group{ role: "main", offset: 0, showhash: "true" }
    
      // Pull blog articles with brooklyn-2019 tag
      .row.js-in-page-nav-section#blog
        .container
          .u-margin-top-sm.u-margin-bottom-sm.text-center
            %h2.u-text-brand{ style: "display: none" } Blog
            %h2.u-text-brand Key takeaways from GitLab Commit London
            %p Get a better understanding of what was shared at GitLab Commit London. Learn about the latest news, speaker presentations, and what it is like to attend a GitLab user event.

        .container     
          .grid-layout.grid-layout3
            - commit_articles = blog.articles.keep_if{ |a| a.tags.include?("london-2019")}
            - commit_articles.each do |article|
              %a.tile-resource.grid-item{ href: "#{article.url}" }
                - image_title = article.data.image_title ? article.data.image_title : '/images/default-blog-image.png'
                .tile-background-container{ style: "background-image: url('#{image_title}');" }
                .tile-info
                  %h4.tile-title
                    = article.title
                  %p.tile-subtitle
                    by
                    = article.data.author
                  %p.tile-description
                    = article.data.description
                  %p.tile-link
                    Join us
                    %i.fas.fa-arrow-right
      
      // YouTube Playlist
      .row.js-in-page-nav-section#videos
        .container
          .u-margin-top-sm.u-margin-bottom-sm.text-center
            %h2.u-text-brand{ style: "display: none" } Videos
            %h2.u-text-brand Speaker presentations from GitLab Commit London

        .container    
          .grid-layout.grid-layout2.margin-top50
            .grid-item
              %p Want to see the speaker presentations for yourself? We recorded all of our presenters so that we could share their expertise knowledge. Check out all of the talks here.
              %a.btn.cta-btn.accent{href: "https://www.youtube.com/playlist?list=PLFGfElNsQthbCVB5FM5QnrUg8lZu2u_QP", target: "_blank" }
                Watch on YouTube
            .grid-item
              %iframe{:allow => "accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", :allowfullscreen => "", :frameborder => "0", :height => "315", :src => "https://www.youtube.com/embed/videoseries?list=PLFGfElNsQthbCVB5FM5QnrUg8lZu2u_QP", :width => "560"}


      .row.highlight-background.js-in-page-nav-section#speakers
        .container
          .u-margin-top-sm.text-center
            %h2.u-text-brand{ style: "display: none" } Speakers
            %h2.u-text-brand Featured Speakers
            
            .row.u-margin-top-sm.u-margin-bottom-sm
              = partial "/includes/events/commit/2019/speakers-london"
              

      .row.js-in-page-nav-section#schedule
        .container
          .u-margin-top-sm
            %h2.u-text-brand.text-center Schedule
            
            .row.u-margin-top-sm.u-margin-bottom-sm
              %iframe{ src: 'https://gitlabcommit2019london.sched.com/' }
         


      .row.u-margin-top-md.js-in-page-nav-section#sponsor
        = partial "/includes/events/commit/2019/sponsors"


      .row.js-in-page-nav-section#stay-connected
        = partial "/includes/events/commit/2019/stay-connected"


= partial "/includes/events/commit/2019/eventbrite-widgets"